.br-popup {
	display: none !important;
}

#br-index-about {
	z-index: 500;
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	width: 50%;
	height: 71%;
	margin-top: 13%;
	margin-left: 10%;
	margin-right: 40%;
	padding: 10px;
	text-shadow: none;
	color: #eee;
	text-shadow: 0 1px 1px #000;
	overflow: hidden;
}

	#br-index-about h2 {
		margin-top: 0px;
		padding-top: 0px;
	}

#br-shows {
	z-index: 500;
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	width: 50%;
	height: 71%;
	margin-top: 13%;
	margin-left: 225%;
	margin-right: 25%;
	padding: 10px;
	text-shadow: none;
	color: #eee;
	text-shadow: 0 1px 1px #000;
	overflow: hidden;
}

	#br-shows h2 {
		margin-top: 0px;
		padding-top: 0px;
	}

#br-twitter {
	z-index: 500;
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	width: 50%;
	height: 71%;
	margin-top: 13%;
	margin-left: 125%;
	margin-right: 25%;
	padding: 10px;
	text-shadow: none;
	color: #eee;
	text-shadow: 0 1px 1px #000;
	overflow: hidden;
}

	#br-twitter h2 {
		margin-top: 0px;
		padding-top: 0px;
	}

#br-email {
	z-index: 500;
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	width: 50%;
	height: 71%;
	margin-top: 13%;
	margin-left: 325%;
	margin-right: 25%;
	padding: 10px;
	text-shadow: none;
	color: #eee;
	text-shadow: 0 1px 1px #000;
	overflow: hidden;
}

	#br-email h2 {
		margin-top: 0px;
		padding-top: 0px;
	}

#br-index-shows {
	z-index: 500;
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	width: 25%;
	height: 32%;
	margin-top: 52%;
	margin-right: 10%;
	margin-left: 65%;
	padding: 10px;
	text-shadow: none;
	color: #eee;
	text-shadow: 0 1px 1px #000;
	overflow: hidden;
}

	#br-index-shows h2 {
		margin-top: 0px;
		padding-top: 0px;
	}

	#br-index-shows ul {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
	}

	#br-index-shows li {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
		margin-bottom: 10px;
		width: auto;
	}

#br-index-news {
	position: absolute;
	z-index: 500;
	background-color: rgba(0, 0, 0, .6);
	width: 25%;
	height: 32%;
	margin-top: 13%;
	margin-right: 10%;
	margin-left: 65%;
	padding: 10px;
	text-shadow: none;
	color: #eee;
	text-shadow: 0 1px 1px #000;
	overflow: hidden;
}

	#br-index-news h2 {
		margin-top: 0px;
		padding-top: 0px;
	}

	#br-index-news ul {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
	}

	#br-index-news li {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
		margin-bottom: 10px;
		width: auto;
	}

#br-play-link {
	display: none !important;
}

#br-web-player {
	display: inline;
}

	#br-web-player a {
		display: block;
		float: right;
		width: 40px;
		height: 40px;
	}

	#br-play-pause a:hover {
		cursor: pointer;
	}

	#br-web-play-link {
		background-image: url('pix/br-play.png');
	}

	#br-web-prev-link {
		background-image: url('pix/br-prev.png');
	}

	#br-web-next-link {
		background-image: url('pix/br-next.png');
	}

hr {
	border: 0px none;
	border-bottom: 1px solid #eee;
}
