body {
	/*
	background: #333;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
	background-image: -moz-linear-gradient(top, #444, #222);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#222222')";
	*/
	background: #141414;
	background-image: url(../pix/bg.png);
	color: #f5f5f5;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

td, th {
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

tr.even {
	background-color: #f5f5f5;
}

div#wrapper {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

h1#title {
	font-size: 24px;
	letter-spacing: 1px;
	margin-bottom: -20px;
	padding-left: 7px;
	color: #eee;
	text-shadow: #000 0px -1px 1px;
	text-shadow: 0.1em 0.1em 0.2em black;
}

	h1#title img {
		margin-bottom: -4px;
	}

	h1#title span.title {
		font-size: 14px;
		padding-left: 10px;
		font-weight: normal;
	}

div#nav {
	height: 26px;
	width: 753px;
}

div#nav a {
	float: right;
	width: 80px;
	display: block;
	height: 16px;
	margin-right: 2px;
	text-decoration: none;
	border-bottom: 0px;
	padding: 6px 0px 4px 0px;
	text-align: center;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background: #bbb;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#999));
	background-image: -moz-linear-gradient(top, #ddd, #999);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#999999');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dddddd', EndColorStr='#999999')";
	color: #222;
}

div#nav a:hover {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#999));
	background-image: -moz-linear-gradient(top, #f5f5f5, #999);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#999999');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#999999')";
}

div#nav a.active {
	background: #eee;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5));
	background-image: -moz-linear-gradient(top, #fff, #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f5f5f5')";
	color: #222;
}

div#nav a.active:hover {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#f5f5f5));
	background-image: -moz-linear-gradient(top, #ccc, #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#f5f5f5');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#f5f5f5')";
}

div#content {
	width: 100%;
	min-height: 200px;
	background: #fefefe;
	padding: 10px 20px 15px 20px;
	margin-bottom: 0px;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border-radius: 7px;
	background: #eee;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#ddd));
	background-image: -moz-linear-gradient(top, #f5f5f5, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dddddd');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#dddddd')";
	color: #222;
	line-height: 18px;
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

p.example {
	border: 1px solid #ccb;
	background: #ffe;
	padding: 5px;
}

p.notice {
	color: #47a;
	font-weight: bold;
}

p.error {
	color: #a00;
	font-weight: bold;
}

h2, h3 {
	color: #222;
}

p#footer {
	margin-top: 5px;
	padding-left: 7px;
	color: #eee;
	text-shadow: 0.1em 0.1em 0.2em black;
}

	p#footer a {
		color: #f39200;
		text-decoration: none;
	}

	p#footer a:hover {
		color: #f39200;
		text-decoration: underline;
	}

a {
	color: #667;
	text-decoration: underline;
}

a:hover {
	color: #445;
	text-decoration: underline;
}

hr {
	border: 0;
	border-bottom: 1px solid #777;
}

.album {
	clear: both;
}

.icon {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 5px;
	margin-bottom: 15px;
}

object {
	width: 100px;
	height: 20px;
	margin: 0px;
	margin-bottom: -5px;
	padding: 0px;
	background-image: url(browse.png);
}

#themes img {
	margin-right: 5px;
	margin-bottom: 5px;
}
